export(SWANr_app)
importFrom(utils,head,tail,write.table)
export("%||%")
export(
  swanr_cache_space,
  swanr_cache_has,
  swanr_cache_get,
  swanr_cache_set,
  swanr_hash_text,
  swotr_auth_token,
  swotr_authenticate,
  swotr_has_credentials,
  safe_filename,
  safe_unzip,
  read_spatial_file,
  sf_to_geojson,
  repair_layer_text,
  clean_layer_attributes,
  find_state_column,
  load_brazil_state,
  south_america_bbox,
  reference_layer_specs,
  load_reference_layer,
  normalize_search_text,
  catalog_rows,
  layer_column,
  build_layer_search_catalog,
  search_layer_catalog,
  make_bbox_sf,
  iso_utc,
  monthly_temporal_ranges,
  cmr_get,
  search_swot_data,
  extract_download_link,
  suffix_score,
  select_best_versions,
  entries_to_results,
  product_configuration,
  smart_filter_tiles,
  build_granule_patterns,
  validate_download_url,
  download_earthdata_file,
  clip_vector_zip,
  clip_netcdf,
  clip_other_vector,
  ana_service_url,
  ana_xml_table,
  ANA.hidroinventario,
  ana_daily_columns,
  ana_daily_name,
  ana_numeric,
  serie.historica.ANA.proxy,
  serie.historica.ANA,
  parse_station_codes,
  ana_subproduct_info,
  station_code_vector,
  select_ana_stations,
  ana_inventory_from_station,
  prepare_ana_results,
  create_ana_download_bundle,
  opera_product_configuration,
  swanr_python,
  run_python_script,
  sword_node_columns,
  sword_nodes_source,
  utm_epsg_for_sf,
  prepare_opera_sword_nodes,
  swanr_output_dir,
  opera_aoi_cache_key,
  opera_cache_paths,
  opera_file_table,
  prepare_opera_results,
  create_opera_download_bundle,
  create_download_bundle
)
